{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["standard", "react", "import", "node", "promise"],
  "rules": {
    "object-curly-spacing": 2,
    "import/no-unresolved": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "no-unused-vars": 2
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
